.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-label {
    flex: 1;
    margin-right: 10px;
}

.form-input {
    flex: 2;
}

.form-input.input-group {
    display: flex;
}

.form-input.input-group input,
.form-input.input-group button {
    flex: 2;
}

.table-left {
    /* Tambahkan gaya untuk mengatur tata letak tabel menjadi ke kiri */
    float: left;
}

body {
    font-family: Arial, sans-serif;
}

/* Gaya untuk div yang berisi tabel */
.table-container {
    float: right;
    width: 65%;
    /* Lebar tabel */
    margin-top: 30px;
}

/* Gaya untuk label "Data Tim SEAQIL" */
.label-title {
    font-size: 18px;
    font-weight: bold;
}
